/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}

p{
    width: 100%;
    float: left;
}

section{
    padding: 80px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.btn{
    min-width: 120px;
    padding: 15px 30px;
    font-size: 14px;
}
.btn-primary{
    background: #026B33;
    color: #fff;
    border: none;
}
.btn-secondary{
    background: none;
    border: 2px solid #026B33;
    color: #026B33;
}

h1{
    margin: 0 0 40px;
}
ul.group{
    width: 100%;
    float: left;
    column-count: 2;
    padding-left: 0;
}
ul.group li{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #dedede;
    padding: 10px 60px 10px 20px;
    border-radius: 8px;
    height: 42px;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
ul.group li.copied{
    border-color: #29D02F;
    background: #E1FDE2;
}
ul.group li p{
    margin-bottom: 0;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.group li button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    color: #555;
    transition: all ease-out 0.3s;
    z-index: 2;
    opacity: 0;
}
ul.group li button:hover{
    color:#1a1a1a;
    cursor:pointer;
    background: rgba(0,0,0,0.05);
}
ul.group li button:focus{
    outline: none;
    background: rgba(0,0,0,0.15);
}
ul.group li::before{
    content: "Copied";
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
ul.group li.copied::before{
    opacity: 1;
}